.card{
    width: 20rem;
    height: auto;
    margin: 2rem;
    border-radius: 1rem;
    background-color: #d1d1;
    text-align: center;
    box-shadow: 10px 10px 38px -17px rgba(0,0,0,0.50);
}
.card__img{
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}

.card__title{
    margin: 1rem 0;
    color: darkblue;
}